/* .scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #B9935B;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
  }
  
  .scroll-to-top-button:hover {
    background-color: #e8ac51;
  }
   */